* {
  margin: 0;
  padding: 0;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  background: #f7f5f5;
  color: #000000;
  height: 100vh;
  line-height: 1.6;
  overflow: hidden;
  width: 100%;
  overflow-x: hidden;
}


.profile img {
  width: 140px;
  height: 140px;
  border-radius: 50%;
  margin-right: 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
.profile h1 {
  width: 398px;
  height: 87px;
  left: 500px;
  top: 700px;
  font-style: normal;
  font-family: 'open sans';
  font-weight: 800;
  font-size: 50px;
  line-height: 150px;
}
.profile p {
  font-size: 16px;
  margin: 0;
  color: #666;
  margin-left: 5px;
}
.back-ground {
  background-color: #666;
}
.profile-buttons {
  top: 18px;
  position: relative;
}

.profile {
  display: flex;
  align-items: center;
  margin-bottom: 40px;
}

.grid-item {
  background-color: rgba(255, 255, 255, 0.8);
  padding: 10px;
  font-size: 30px;
  width: 95%;
  text-align: center;
  align-content: center;
  position: relative;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
}
.container {
  border-radius: 25px;
  width: 100%;
  margin: 40px;
  background-color: #fafafa;
  padding: 40px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  position: relative;
  align-items: center;
}

.chart-container {
  width: 80%;
  margin: 20px;
  background-color: #ffffff;
  padding: 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  position: relative;
}
.grid-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  width: 80%;
  align-items: center;
  position: relative;
}

.grid-container-2 {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  width: 80%;
  align-items: center;
  position: relative;
}

.navbar {
  background-color: white;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  text-align: center;
}

.nav-bar nav-link {
  font-size: small;
  font-family: "Open Sans", sans-serif;
  color: black;
  text-align: center;
}

.nav-bar li {
  color: black;
}

.navbar-brand {
  color: black;
  font-weight: bold;
}

.home-section {
   background: url('images/datatest.png') no-repeat;
}

.button-18 {
  text-decoration: none;
  align-items: center;
  background-color: #1282f1;
  border: 0;
  border-radius: 95px;
  box-sizing: border-box;
  color: #ffffff;
  cursor: pointer;
  display: inline-flex;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
  font-weight: 600;
  justify-content: center;
  line-height: 20px;
  max-width: 480px;
  min-height: 40px;
  min-width: 0px;
  overflow: hidden;
  padding: 0px;
  padding-left: 20px;
  padding-right: 20px;
  text-align: center;
  touch-action: manipulation;
  transition: background-color 0.167s cubic-bezier(0.4, 0, 0.2, 1) 0s,
    box-shadow 0.167s cubic-bezier(0.4, 0, 0.2, 1) 0s,
    color 0.167s cubic-bezier(0.4, 0, 0.2, 1) 0s;
  user-select: none;
  -webkit-user-select: none;
  vertical-align: middle;
}

.button-18:hover,
.button-18:focus {
  background-color: #16437e;
  color: #ffffff;
}

.button-18:active {
  background: #09223b;
  color: rgb(255, 255, 255, 0.7);
}

.button-18:disabled {
  cursor: not-allowed;
  background: rgba(0, 0, 0, 0.08);
  color: rgba(0, 0, 0, 0.3);
}

.buttons-home-left {
  padding-top: 20px;
}
.buttons-home-left a {
  text-decoration: none;
}

.plain-button {
  background-color: white;
  color: rgb(0, 0, 0);
  border-style: solid;
  border-color: black;
}

.page-grid {
  display: grid;
  grid-template-columns: 250px auto; /* Sidebar width and body content width */
  height: 100vh; /* Set container height to full viewport height */
}

.body-content {
  padding: 20px;
  height: 100%;
}

.org {
    display: grid;
    grid-template-columns: 10% 60% 30%;
    width: 80%;
    align-items: center;
    position: relative;
}

.org img {
  width: 100px;
  height: 100px;
  margin-bottom: 40px
}

.info {
  margin-top: 40px;
  margin-left: 10px;
  justify-content: center;
}

.info ul{
  list-style-type: none;
}

#loop-container {
  height: 6000px; /* Adjust to the desired height of your loop */
  overflow: hidden;
}
.loop-item {
  height: 2000px; /* Should match the container height */
}