.desktop-2
{
position:absolute;
background-color:#dae8f4;
height:726px;
width:1100px;
padding:0px;
}
.group9
{
width:863px;
height:627px;
left:119px;
top:49px;
position:absolute;
}
.rectangle1
{
background-color:#ffffff;
height:627px;
width:863px;
filter:drop-shadow(4px 4px 4px rgba(0.33906248211860657,0.565750002861023,0.7749999761581421,0.10999999940395355));
border-radius:18px;
top:49px;
left:119px;
position:absolute;
}
.ci:menu-alt-05
{
background-color:#ffffff;
height:24px;
width:24px;
padding:0px;
left:914px;
top:89px;
position:absolute;
}
.vector
{
background-color:#000000;
height:12px;
width:18px;
width:18px;
height:12px;
left:0px;
top:0px;
position:absolute;
}
.goal
{
color:#000000;
text-align:left;
vertical-align:text-top;
font-size:12px;
font-family:Open Sans;
left:603px;
top:234px;
width:26px;
height:16px;
position:absolute;
line-height:auto;
border-style:hidden;
outline:none;
}
.solid-communication
{
height:24px;
width:24px;
padding:0px;
border-style:hidden;
outline:none;
left:385px;
top:159px;
position:absolute;
}
.icon
{
background-color:#000000;
height:14.340129852294922px;
width:17.223878860473633px;
width:17.223878860473633px;
height:14.340129852294922px;
left:3.25px;
top:4.4px;
width:17.223878860473633px;
height:14.340129852294922px;
position:absolute;
}
.outline-interface
{
height:24px;
width:24px;
padding:0px;
border-style:hidden;
outline:none;
left:641px;
top:171px;
position:absolute;
}
.icon2
{
background-color:#000000;
height:19.370027542114258px;
width:19.36315155029297px;
width:19.36315155029297px;
height:19.370027542114258px;
left:2.31px;
top:2.31px;
width:19.36315155029297px;
height:19.370027542114258px;
position:absolute;
}
.frame1
{
background-color:#ffffff;
height:184px;
width:238px;
padding:0px;
display:flex;
flex-direction:column;
flex-wrap:nowrap;
align-items:center;
justify-content:center;
position:absolute;
top:156px;
left:179px;
}
.rectangle3
{
background-color:#ffffff;
height:174px;
width:238px;
filter:drop-shadow(2px 2px 4px rgba(0.33906248211860657,0.565750002861023,0.7749999761581421,0.10999999940395355));
border-radius:14px;
}
.union
{
background-color:#ffffff;
height:26px;
width:33px;
filter:drop-shadow(2px 2px 4px rgba(0.33906248211860657,0.565750002861023,0.7749999761581421,0.10999999940395355));
top:94px;
left:139px;
position:absolute;
}
.rectangle32
{
background-color:#ffffff;
height:22px;
width:33px;
filter:drop-shadow(2px 2px 4px rgba(0.33906248211860657,0.565750002861023,0.7749999761581421,0.10999999940395355));
border-radius:4px;
top:94px;
left:139px;
position:absolute;
}
.vector2
{
background-color:#ffffff;
height:5px;
width:10px;
left:150px;
top:115px;
position:absolute;
}
.none8
{
color:#000000;
text-align:left;
vertical-align:text-top;
font-size:12px;
font-family:Open Sans;
align-self:flex-start;
left:144px;
top:99px;
position:absolute;
line-height:auto;
border-style:hidden;
outline:none;
width:24px;
display:flex;
}
.surveyscompleted
{
color:#000000;
text-align:left;
vertical-align:text-top;
font-size:16px;
font-family:Open Sans;
align-self:flex-start;
left:23px;
top:13px;
position:absolute;
line-height:auto;
border-style:hidden;
outline:none;
width:149px;
display:flex;
}
.none7
{
color:#000000;
text-align:left;
vertical-align:text-top;
font-size:40px;
font-family:Open Sans;
align-self:flex-start;
left:19px;
top:37px;
position:absolute;
line-height:auto;
border-style:hidden;
outline:none;
width:79px;
display:flex;
}
.frame2
{
background-color:#ffffff;
height:184px;
width:238px;
padding:0px;
display:flex;
flex-direction:column;
flex-wrap:nowrap;
align-items:center;
justify-content:center;
position:absolute;
top:156px;
left:430px;
}
.rectangle33
{
background-color:#ffffff;
height:174px;
width:238px;
filter:drop-shadow(2px 2px 4px rgba(0.33906248211860657,0.565750002861023,0.7749999761581421,0.10999999940395355));
border-radius:14px;
}
.union2
{
background-color:#ffffff;
height:5px;
width:10px;
filter:drop-shadow(2px 2px 4px rgba(0.33906248211860657,0.565750002861023,0.7749999761581421,0.10999999940395355));
left:0px;
top:0px;
position:absolute;
}
.vector22
{
background-color:#ffffff;
height:5px;
width:10px;
width:10px;
height:5px;
left:150px;
top:115px;
width:10px;
height:5px;
position:absolute;
}
.ellipse3
{
height:90px;
width:90px;
top:52px;
left:127px;
position:absolute;
border-radius:50%;
}
.maskgroup
{
align-self:flex-start;
left:115.19px;
top:46.76px;
position:absolute;
width:93.20635986328125px;
height:102.33047485351562px;
}
.vector3
{
background-color:#009edb;
height:102.33047485351562px;
width:93.20635986328125px;
width:93.20635986328125px;
height:102.33047485351562px;
left:115.19px;
top:46.76px;
width:93.20635986328125px;
height:102.33047485351562px;
position:absolute;
}
.ellipse4
{
height:90px;
width:90px;
top:52px;
left:127px;
position:absolute;
border-radius:50%;
}
.newinsights
{
color:#000000;
text-align:left;
vertical-align:text-top;
font-size:16px;
font-family:Open Sans;
align-self:flex-start;
left:24px;
top:13px;
position:absolute;
line-height:auto;
border-style:hidden;
outline:none;
width:136px;
display:flex;
}
.none6
{
color:#000000;
text-align:left;
vertical-align:text-top;
font-size:40px;
font-family:Open Sans;
align-self:flex-start;
left:24px;
top:37px;
position:absolute;
line-height:auto;
border-style:hidden;
outline:none;
width:58px;
display:flex;
}
.frame3
{
background-color:#ffffff;
height:184px;
width:238px;
padding:0px;
display:flex;
flex-direction:column;
flex-wrap:nowrap;
align-items:center;
justify-content:center;
position:absolute;
top:156px;
left:685px;
}
.rectangle34
{
background-color:#ffffff;
height:174px;
width:238px;
filter:drop-shadow(2px 2px 4px rgba(0.33906248211860657,0.565750002861023,0.7749999761581421,0.10999999940395355));
border-radius:14px;
}
.union3
{
background-color:#ffffff;
height:26px;
width:33px;
filter:drop-shadow(2px 2px 4px rgba(0.33906248211860657,0.565750002861023,0.7749999761581421,0.10999999940395355));
top:94px;
left:139px;
position:absolute;
}
.rectangle35
{
background-color:#ffffff;
height:22px;
width:33px;
filter:drop-shadow(2px 2px 4px rgba(0.33906248211860657,0.565750002861023,0.7749999761581421,0.10999999940395355));
border-radius:4px;
top:94px;
left:139px;
position:absolute;
}
.vector23
{
background-color:#ffffff;
height:5px;
width:10px;
left:150px;
top:115px;
position:absolute;
}
.group2
{
align-self:flex-start;
left:22px;
top:125px;
position:absolute;
width:188px;
height:7px;
}
.rectangle4
{
background-color:#c7bfdf;
height:7px;
width:188px;
border-radius:31px;
top:125px;
left:22px;
position:absolute;
}
.rectangle5
{
background-color:#00c613;
height:7px;
width:133px;
border-radius:31px;
top:125px;
left:22px;
position:absolute;
}
.rank
{
color:#000000;
text-align:left;
vertical-align:text-top;
font-size:16px;
font-family:Open Sans;
align-self:flex-start;
left:21px;
top:13px;
position:absolute;
line-height:auto;
border-style:hidden;
outline:none;
width:136px;
display:flex;
}
.completionrate
{
color:#000000;
text-align:left;
vertical-align:text-top;
font-size:12px;
font-family:Open Sans;
align-self:flex-start;
left:21px;
top:136px;
position:absolute;
line-height:auto;
border-style:hidden;
outline:none;
width:210px;
display:flex;
}
.none5
{
color:#000000;
text-align:left;
vertical-align:text-top;
font-size:12px;
font-family:Roboto;
align-self:flex-start;
left:146px;
top:99px;
position:absolute;
line-height:auto;
border-style:hidden;
outline:none;
width:45px;
display:flex;
}
.none4
{
color:#000000;
text-align:left;
vertical-align:text-top;
font-size:40px;
font-family:Open Sans;
align-self:flex-start;
left:21px;
top:37px;
position:absolute;
line-height:auto;
border-style:hidden;
outline:none;
width:75px;
display:flex;
}
.none3
{
color:#000000;
text-align:left;
vertical-align:text-top;
font-size:12px;
font-family:Open Sans;
left:454px;
top:268px;
width:24px;
height:16px;
position:absolute;
line-height:auto;
border-style:hidden;
outline:none;
}
.none1
{
color:#000000;
text-align:left;
vertical-align:text-top;
font-size:12px;
font-family:Open Sans;
left:462px;
top:285px;
width:14px;
height:16px;
position:absolute;
line-height:auto;
border-style:hidden;
outline:none;
}
.dailygoal
{
color:#000000;
text-align:left;
vertical-align:text-top;
font-size:12px;
font-family:Open Sans;
left:482px;
top:268px;
width:57px;
height:16px;
position:absolute;
line-height:auto;
border-style:hidden;
outline:none;
}
.thisweek
{
color:#000000;
text-align:left;
vertical-align:text-top;
font-size:12px;
font-family:Open Sans;
left:482px;
top:285px;
width:55px;
height:16px;
position:absolute;
line-height:auto;
border-style:hidden;
outline:none;
}
.responserate
{
color:#000000;
text-align:left;
vertical-align:text-top;
font-size:12px;
font-family:Open Sans;
left:203px;
top:294px;
width:83px;
height:16px;
position:absolute;
line-height:auto;
border-style:hidden;
outline:none;
}
.group1
{
width:188px;
height:7px;
top:281px;
left:204px;
position:absolute;
}
.rectangle42
{
background-color:#c7bfdf;
height:7px;
width:188px;
border-radius:31px;
top:281px;
left:204px;
position:absolute;
}
.rectangle52
{
background-color:#009edb;
height:7px;
width:133px;
border-radius:31px;
top:281px;
left:204px;
position:absolute;
}
.rectangle36
{
background-color:#ffffff;
height:22px;
width:33px;
filter:drop-shadow(2px 2px 4px rgba(0.33906248211860657,0.565750002861023,0.7749999761581421,0.10999999940395355));
border-radius:4px;
top:259px;
left:621px;
position:absolute;
}
.vector24
{
background-color:#ffffff;
height:5px;
width:10px;
left:632px;
top:280px;
position:absolute;
}
.none
{
color:#000000;
text-align:left;
vertical-align:text-top;
font-size:12px;
font-family:Open Sans;
left:626px;
top:264px;
width:24px;
height:16px;
position:absolute;
line-height:auto;
border-style:hidden;
outline:none;
}
.frame4
{
height:19px;
width:276px;
padding:0px;
display:flex;
flex-direction:row;
justify-content:flex-start;
align-items:flex-start;
gap:33px;
position:absolute;
top:82px;
left:644px;
}
.component4
{
background-color:#ffffff;
height:19px;
width:21px;
padding:0px;
border-style:hidden;
outline:none;
position:absolute;
}
.home
{
color:#000000;
text-align:left;
vertical-align:text-top;
font-size:14px;
font-family:Open Sans;
line-height:auto;
border-style:hidden;
outline:none;
width:38px;
}
.line2
{
width:0.5675675868988037px;
border:1px solid #000000;
left:0.56px;
top:19px;
position:absolute;
}
.component6
{
background-color:#ffffff;
height:19px;
width:59px;
align-self:flex-start;
left:54px;
top:0px;
position:absolute;
padding:0px;
border-style:hidden;
outline:none;
}
.home2
{
color:#000000;
text-align:left;
vertical-align:text-top;
font-size:14px;
font-family:Open Sans;
top:5px;
width:79px;
height:19px;
position:absolute;
line-height:auto;
border-style:hidden;
outline:none;
}
.line22
{
width:1.5945945978164673px;
border:1px solid #000000;
top:19px;
left:1.59px;
position:absolute;
}
.component7
{
background-color:#ffffff;
height:19px;
width:37px;
align-self:flex-start;
left:146px;
top:0px;
position:absolute;
padding:0px;
border-style:hidden;
outline:none;
}
.home3
{
color:#000000;
text-align:left;
vertical-align:text-top;
font-size:14px;
font-family:Open Sans;
top:5px;
width:106px;
height:19px;
position:absolute;
line-height:auto;
border-style:hidden;
outline:none;
}
.line23
{
width:1px;
border:1px solid #000000;
top:19px;
left:1px;
position:absolute;
}
.component5
{
background-color:#ffffff;
height:19px;
width:37px;
align-self:flex-start;
left:216px;
top:0px;
position:absolute;
padding:0px;
border-style:hidden;
outline:none;
}
.line24
{
width:1px;
border:1px solid #000000;
top:19px;
left:1px;
position:absolute;
}
.rectangle6
{
background-color:#ffffff;
height:268px;
width:736px;
filter:drop-shadow(0px 4px 4px rgba(0,0,0,0.25));
padding:0px;
top:360px;
left:183px;
position:absolute;
}
.rectangle62
{
background-color:#ffffff;
height:268px;
width:736px;
border-radius:23px;
}
.hogeschool_van_amsterdam_logo1
{
height:58px;
width:59px;
top:6px;
position:absolute;
}
.hogeschoolvanamsterdam
{
color:black;
text-align:left;
vertical-align:text-top;
font-size:32px;
font-family:Open Sans;
left:52px;
top:14px;
width:509px;
height:70px;
position:absolute;
line-height:auto;
border-style:hidden;
outline:none;
}
.missionstatement
{
color:black;
text-align:left ;
vertical-align:text-top;
font-size:16px;
font-family:Open Sans;
left:54px;
top:90px;
width:457px;
height:185px;
position:absolute;
line-height:auto;
border-style:hidden;
outline:none;
}
.line3
{
width:152px;
transform:rotate(-90deg);
border:2px solid #000000;
top:90px;
left:542px;
position:absolute;
}
.group8
{
width:134px;
height:144px;
top:90px;
left:572px;
position:absolute;
}
.group6
{
width:134px;
height:144px;
top:90px;
left:572px;
position:absolute;
}
.founded
{
color:#000000;
text-align:left;
vertical-align:text-top;
font-size:16px;
font-family:Open Sans;
left:572px;
top:90px;
width:131px;
height:22px;
position:absolute;
line-height:auto;
border-style:hidden;
outline:none;
}
.students
{
color:#000000;
text-align:left;
vertical-align:text-top;
font-size:16px;
font-family:Open Sans;
left:572px;
top:174px;
width:131px;
height:22px;
position:absolute;
line-height:auto;
border-style:hidden;
outline:none;
}
.employees
{
color:#000000;
text-align:left;
vertical-align:text-top;
font-size:16px;
font-family:Open Sans;
left:572px;
top:132px;
width:131px;
height:22px;
position:absolute;
line-height:auto;
border-style:hidden;
outline:none;
}
.link:hva.nl
{
color:#000000;
text-align:left;
vertical-align:text-top;
font-size:16px;
font-family:Open Sans;
left:575px;
top:212px;
width:131px;
height:22px;
position:absolute;
line-height:auto;
border-style:hidden;
outline:none;
}
.group5
{
width:126.99993896484375px;
height:23.984615325927734px;
top:241px;
left:572px;
position:absolute;
}
.group4
{
width:92.90603637695312px;
height:23.984615325927734px;
top:241px;
left:572px;
position:absolute;
}
.socials
{
height:23.984615325927734px;
width:24.718120574951172px;
padding:0px;
border-style:hidden;
outline:none;
top:241px;
left:572px;
position:absolute;
}
.rectangle12
{
background-color:floralwhite;
height:23.984615325927734px;
width:24.718120574951172px;
border-radius:500px;
}
.instagram
{
background-color:#ffffff;
height:11.99230670928955px;
width:12.35905933380127px;
left:6.17px;
top:5.99px;
position:absolute;
}
.socials2
{
height:23.984615325927734px;
width:24.718120574951172px;
padding:0px;
border-style:hidden;
outline:none;
top:241px;
left:640.18px;
position:absolute;
}
.rectangle13
{
background-color:#55ace3;
height:23.984615325927734px;
width:24.718120574951172px;
border-radius:500px;
}
.vector7
{
background-color:#ffffff;
height:9.35400390625px;
width:12.111873626708984px;
left:6.79px;
top:7.79px;
position:absolute;
}
.socials3
{
height:23.984615325927734px;
width:24.718120574951172px;
padding:0px;
border-style:hidden;
outline:none;
top:241px;
left:606.09px;
position:absolute;
}
.rectangle14
{
background-color:#0b84ee;
height:23.984615325927734px;
width:24.718120574951172px;
border-radius:500px;
}
.vector8
{
background-color:#ffffff;
height:13.791154861450195px;
width:7.415435791015625px;
left:8.65px;
top:4.79px;
position:absolute;
}
.socials4
{
height:23.984615325927734px;
width:24.718120574951172px;
padding:0px;
border-style:hidden;
outline:none;
top:241px;
left:674.28px;
position:absolute;
}
.rectangle15
{
background-color:#2878b7;
height:23.984615325927734px;
width:24.718120574951172px;
border-radius:500px;
}
.vector9
{
background-color:#ffffff;
height:8.550569534301758px;
width:9.269295692443848px;
left:8.03px;
top:7.19px;
position:absolute;
}
.frame5
{
height:100px;
width:100px;
padding:0px;
left:151px;
top:64px;
position:relative;
}
.logo_of_the_united_nations
{
height:55px;
width:179px;
left:134px;
top:68px;
position:absolute;
}
