body {
  background-color: rgb(0, 6, 8);
}
.container {
  margin: 100px;
  width: 7000px;
  background-color: #ffffff;
  padding: 40px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  position: relative;
}
.profile {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}
.profile img {
  width: 140px;
  height: 140px;
  border-radius: 50%;
  margin-right: 20px;
}
.profile h1 {
  width: 398px;
  height: 87px;
  left: 500px;
  top: 700px;
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 800;
  font-size: 50px;
  line-height: 150px;
}
.profile p {
  font-size: 16px;
  margin: 0;
  color: #666;
  margin-left: 5px;
}
.back-ground {
  background-color: #666;
}
.profile-buttons {
  top: 18px;
  position: relative;
}