* {
    margin: 0;
    padding: 0;
  }
  
  body {
    font-family: Arial, Helvetica, sans-serif;
    background: #f7f5f5;
    color: #000000;
    height: 100vh;
    line-height: 1.6;
    overflow: hidden;
    width: 100%;
    overflow-x: hidden;
  }
  
  .landing-container {
    width: 100%;
    height: 100%;
    /* CSS Smooth Scroll */
    overflow-y: scroll;
    scroll-behavior: smooth;
    scroll-snap-type: y mandatory;
  }
  
  .lead {
    font-size: 1.5rem;
  }
  
  .navbar {
    position: fixed;
    top: 0;
    z-index: 1;
    display: flex;
    width: 100%;
    height: 60px;
    background: rgba(255, 255, 255, 0.7);
  }
  
  .navbar ul {
    display: flex;
    list-style: none;
    width: 100%;
    justify-content: center;
  }
  
  .navbar ul li {
    margin: 0 1rem;
    padding: 1rem;
  }
  
  .navbar ul li a {
    text-decoration: none;
    text-transform: uppercase;
    color: #000000;
  }
  
  .navbar ul li a:hover {
    color: skyblue;
    text-decoration: underline;
  }
  
  section {
    display: grid;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 100%;
    height: 100vh;
    /* Scroll Snap */
    scroll-snap-align: center;
    position: relative;
  }
  
  section h1 {
    font-size: 2rem;
  }
  
  /* Section Images */
  section#home {
    background-color: white;
  }
  
  section#about {
    background-color: #f5f8fa;
  }
  
  section#contact {
    background: url('static/images/datacontact.png') center center no-repeat;
  }
  
  
  h1 {
    color: black;
  }
  
  .text-left {
    margin-right: 700px;
    margin-top: 200px;
    text-align: center;
    align-content: left;
    position: relative;
  }
  .text-right {
    padding-left: 700px;
  }
  
  .home-image {
    margin-left: 700px;
    z-index: 0;
  }
  
  .grid-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    width: 100%;
    align-items: center;
    position: absolute;
    margin-bottom: 100px;
  }
  
  .grid-item {
    background-color: rgba(255, 255, 255, 0.8);
    font-size: 30px;
    width: 100%;
    text-align: center;
    align-content: center;
    position: relative;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
  }
  
  .grid-item-right-home {
    align-content: right;
    margin-top: 150px;
  }
  
  .grid-item-left-home {
    margin-top: 0px;
  }
  .grid-item-left-home ul {
    text-align: left;
    width: 70%;
    padding-left: 250px;
    margin-top: 50px;
  }
  
  .button-18 {
    align-items: center;
    background-color: #1282f1;
    border: 0;
    border-radius: 95px;
    box-sizing: border-box;
    color: #ffffff;
    cursor: pointer;
    display: inline-flex;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    font-weight: 600;
    justify-content: center;
    line-height: 20px;
    max-width: 480px;
    min-height: 40px;
    min-width: 0px;
    overflow: hidden;
    padding: 0px;
    padding-left: 20px;
    padding-right: 20px;
    text-align: center;
    touch-action: manipulation;
    transition: background-color 0.167s cubic-bezier(0.4, 0, 0.2, 1) 0s,
      box-shadow 0.167s cubic-bezier(0.4, 0, 0.2, 1) 0s,
      color 0.167s cubic-bezier(0.4, 0, 0.2, 1) 0s;
    user-select: none;
    -webkit-user-select: none;
    vertical-align: middle;
  }
  
  .button-18:hover,
  .button-18:focus {
    background-color: #16437e;
    color: #ffffff;
  }
  
  .button-18:active {
    background: #09223b;
    color: rgb(255, 255, 255, 0.7);
  }
  
  .button-18:disabled {
    cursor: not-allowed;
    background: rgba(0, 0, 0, 0.08);
    color: rgba(0, 0, 0, 0.3);
  }
  
  .buttons-home-left {
    padding-top: 20px;
  }
  .buttons-home-left a {
    text-decoration: none;
  }
  
  .plain-button {
    background-color: white;
    color: rgb(0, 0, 0);
    border-style: solid;
    border-color: black;
  }
  
  .landing-about {
    margin-top: 100px;
  }
  
  .grid-container-about {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    width: 90%;
    position: relative;
    align-content: center;
    font-size: 3rem;
    row-gap: 40px;
    column-gap: 30px;
    padding-bottom: 80px;
    justify-self: center;
  }
  .grid-container-about h2 {
    font-size: 2rem;
  }
  .grid-item h2 {
    font-size: 20px;
  }
  .grid-item p {
    padding-top: 10px;
    font-size: 18px;
    font-weight: 400;
  }
  
  .grid-item img {
    width: 100px;
    height: 100px;
    padding-bottom: 10px;
  }
  
  .mb-3 {
    font-size: medium;
  }
  
  .contact-content {
    margin-left: 20px
  }
  

