{% load bootstrap5 %}
{% load static %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

{% comment %} Not to save cache {% endcomment %}
    <meta http-equiv="cache-control" content="max-age=0" />
    <meta http-equiv="cache-control" content="no-store" />
    <meta http-equiv="expires" content="-1" />
    <meta http-equiv="expires" content="Tue, 01 Jan 1980 1:00:00 GMT" />
    <meta http-equiv="pragma" content="no-cache" />


    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.min.js" integrity="sha256-Uv9BNBucvCPipKQ2NS9wYpJmi8DTOEfTA/nH2aoJALw=" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.min.css" integrity="sha256-aa0xaJgmK/X74WM224KMQeNQC2xYKwlAt08oZqjeF0E=" crossorigin="anonymous" />
    <!-- jQuery -->
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    
    {% block page_title %}
    <title>Survey platform</title>
    {% endblock page_title %}
    {%block css_files%}
    {%endblock css_files%}
    {% block scripts %}
    {% endblock scripts %}

    {% bootstrap_css %}

    {% bootstrap_javascript %}

  </head>
  <body>
      <div class="page-header">
        {% block header %}<nav class="navbar navbar-expand-lg bg-body-tertiary">
          <div class="container-fluid">
            <a class="navbar-brand" href="{% url 'organization:index'%}"> <img src="{% static 'images/UnitedLogo.svg' %}"></a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
              <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                  <a class="nav-link active" aria-current="page" href="{%url 'organization:organizations'%}">organizations</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link active" aria-current="page" href="{%url 'organization:survey'%}">survey</a>
                </li>
              </ul>
            </div>
            <ul class="nav navbar-nav navbar-right">
              {% if user.is_authenticated %}
                <li><a>Hello, {{ user.username }}! </a>&nbsp &nbsp</li>
                <li><a href="{% url 'users:logout' %}"> Log out</a></li>
              {% else %}
                <li><a href="{% url 'users:register' %}">Register</a>&nbsp &nbsp</li>
                <li><a href="{% url 'users:login' %}"> Log in  </a></li>
              {% endif %}
            </ul>
          </div>
        </div>
      </div>
      {% endblock %}

        {% block content %}
        {% endblock %}
    </body>
</html>