{% load bootstrap5 %}
{% load static %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="cache-control" content="max-age=0" />
    <meta http-equiv="cache-control" content="no-store" />
    <meta http-equiv="expires" content="-1" />
    <meta http-equiv="expires" content="Tue, 01 Jan 1980 1:00:00 GMT" />
    <meta http-equiv="pragma" content="no-cache" />

    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.min.js" integrity="sha256-Uv9BNBucvCPipKQ2NS9wYpJmi8DTOEfTA/nH2aoJALw=" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.min.css" integrity="sha256-aa0xaJgmK/X74WM224KMQeNQC2xYKwlAt08oZqjeF0E=" crossorigin="anonymous" />
    <!-- jQuery -->

    
    {% block page_title %}
    <title>Survey platform</title>
    {% endblock page_title %}
    {%block css_files%}
    

    {%endblock css_files%}
    {% block scripts %}
    {% endblock scripts %}

   
    {% bootstrap_css %}
    {% bootstrap_javascript %}

    <style type="text/css">
      .sidenav {
        height:100%;
        width:180px;
        position: absolute;
        z-index:1;
        top:0;
        left:0;
        background-color:#111;
        overflow-x: :hidden;
        box-shadow: 0.5px 0 5px rgba(0, 0, 0, 0.5);
      }
      .page-grid {
        display: grid;
        grid-template-columns: 210px auto; /* Sidebar width and body content width */
        height: 100vh; /* Set container height to full viewport height */
      }
      body {
        font-family: Arial, Helvetica, sans-serif;
      }

      
    </style>

  </head>
  <body style='background-color: #f5f8fa; overflow: auto;'>
        {% block header %}
        <div class='sidenav'>
        <div class="d-flex flex-column flex-shrink-0 p-3 bg-light" style="width: 200px; height: 100%; background-color: white;">
          <a href="{% url 'organization:index'%}" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto link-dark text-decoration-none">
            <svg class="bi me-2" width="20" height="32"><use href=""></use></svg>
            <span class="fs-4" style = 'font-weight:bold;'>CONESU</span>
          </a>
          <hr>
          <ul class="nav nav-pills flex-column mb-auto">
            <li class="nav-item">
              <a href="{% url 'organization:profile'%}" class="nav-link link-dark" aria-current="page">
                <svg class="bi me-2" width="10" height="10">
                  <img src="{% static 'images/sb_user.svg'%}"/>
                  <use xlink:href="#profile"></use>
                </svg>
                Profile
              </a>
            </li>
            <li class = "nav-item">
              <a href="{% url 'organization:survey'%}" class="nav-link link-dark">
                <svg class="bi me-2" width="10" height="10">
                  <use xlink:href="#survey"></use>
                  <img src="{% static 'images/sb_survey.svg'%}"/>
                </svg>
                Survey
              </a>
            </li>
            <li>
              <a href="/orgs/{{user.organization_id}}" class="nav-link link-dark">
                <svg class="bi me-2" width="10" height="10">
                  <use xlink:href="#grid"></use>
                  <img src="{% static 'images/sb_company.svg'%}"/>
                </svg>
                Company
              </a>
            </li>
          </ul>
          <hr>
          <div class="dropdown">
            <a href="#" class="d-flex align-items-center link-dark text-decoration-none dropdown-toggle" id="dropdownUser2" data-bs-toggle="dropdown" aria-expanded="false">
              <img src="{{user.avatar.url}}" alt="" width="32" height="32" class="rounded-circle me-2">
              <strong>{{f_name}}</strong>
            </a>
            <ul class="dropdown-menu text-small shadow" aria-labelledby="dropdownUser2">
              <li><a class="dropdown-item" href="#">New project...</a></li>
              <li><a class="dropdown-item" href={% url 'users:edit_profile'%}>Settings</a></li>
              <li><a class="dropdown-item" href="#">Profile</a></li>
              <li><hr class="dropdown-divider"></li>
              <li><a class="dropdown-item" href="#">Sign out</a></li>
            </ul>
          </div>
        </div>
      </div>
      {% endblock %}

        {% block content %}
    </div>
        {% endblock %}
    </body>
</html>