
{%extends 'organization/base.html'%}
{%load static%}
{% load bootstrap5 %}
{%block css_files%}
<link rel="stylesheet" href="{% static 'organization/landing.css' %}" type="text/css" media="screen">
{% endblock %}
{% block page_header %}
{% endblock page_header %}

{% block content %}  
  <body>
    <div class = 'page-grid'>
      <div style ='height:100%'>{% comment %} empty div for sidebar {% endcomment %}</div>
      <div class='content'>
        <div class="org container " style='width: 100%;'>
          <div>
            <img src="{{org.logo.url}}">
          </div>
          <div>
            <h1>{{org.title}}</h1>
            <p>{{org.mission}}</p>    
          </div>
          <div class='info'>
            <ul style = 'border-left: 1px solid black;'>
              <li>Founded in {{org.founded}}</li>
              <li>Number of employees: {{org.num_employees}}</li>
              <li>Email: {{org.email}}</li>
            </ul>
          </div>
        </div>
        <div class ="grid-container container" style='width: 100%;'>
          <div class="grid-item"> 
            <h3>Surveys completed</h3>
            <h2>{{count}}</h2>
            <canvas class id="survs"></canvas>
          </div>
          <div class="grid-item"><canvas class id="Satis_bar" height = '400px'></canvas> </div>
          <div class="grid-item"><canvas class id="radar"></canvas> </div>
         </div> 
        

{% block scripts %}

<link href="https://fonts.googleapis.com/css?family=Muli&display=swap" rel="stylesheet"> 
<script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/chart.js@2.9.3/dist/Chart.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

<script>
  {% comment %} For loop doenst work - cant pull list of organizations and satisfaction levels  {% endcomment %}
  var ctx = document.getElementById('survs').getContext('2d');
  var myChart = new Chart(ctx, {
    type: 'doughnut',
    data: {
      labels: ["Employees", "Students", ],
      datasets: [{
        label: 'Completed surveys',
        data: ["{{emps}}",'{{studs}}'],
        backgroundColor: [
        'rgba(255, 99, 132, 0.2)',
         'rgba(54, 162, 235, 0.2)',
         ],
        borderWidth: 1
      }]
    },
    options: {
      scales: {
        yAxes: [{
          ticks: {
            beginAtZero: true
          }
        }]
      }
    }
  });
</script>

  <script>
    var ctx = document.getElementById('Satis_bar').getContext('2d');
    var myChart = new Chart(ctx, {
      type: 'bar',
      data: {
        labels: ['Students', 'Employees'],
        datasets: [{
          label: 'Satisfaction',
          data: ['{{satis_stud.satsified__avg}}', '{{satis_emp.satsified__avg}}'],
          backgroundColor: ['rgba(255, 99, 132, 0.2)', 'rgba(54, 162, 235, 0.2)'],
          borderColor: ['rgba(255, 99, 132, 1)', 'rgba(54, 162, 235, 1)'],
          borderWidth: 1
        }]
      },
      options: {
        scales: {
          yAxes: [{
            ticks: {
              beginAtZero: true
            }
          }]
        }
      }
    });
    
  </script>

  <script>
    var ctx = document.getElementById('radar').getContext('2d');
    var myChart = new Chart(ctx, {
      type: 'radar',
      data: {
        labels: ['Time', 'Statisfaction', 'Projects'],
        datasets: [{
          label: 'Students',
          data: {{stud_projects}},
          fill: true,
          backgroundColor: 'rgba(54, 162, 235, 0.2)',
          borderColor: 'rgba(54, 162, 235, 0.2)',
          pointBackgroundColor: 'rgb(255, 99, 132)',
          pointBorderColor: '#fff',
          pointHoverBackgroundColor: '#fff',
          pointHoverBorderColor: 'rgb(255, 99, 132)'
        },{
          label: 'Employees',
          data: {{emp_projects}},
          fill: true,
          backgroundColor: 'rgba(255, 99, 132, 0.2)',
          borderColor: 'rgb(255, 99, 132)',
          pointBackgroundColor: 'rgb(255, 99, 132)',
          pointBorderColor: '#fff',
          pointHoverBackgroundColor: '#fff',
          pointHoverBorderColor: 'rgb(255, 99, 132)'
        }]
      },
      options: {
        scales: {
          yAxes: [{
            ticks: {
              beginAtZero: true
            }
          }]
        }
      }
    });
    
  </script>


{% endblock scripts %}


{% endblock content%}
  