{% extends 'organization/base.html' %}
{% load bootstrap5 %}
{%load static%}
{% block page_title %}<title>Profile page</title>{% endblock page_title %}

{%block css_files%}
<link rel='stylesheet' href="{% static 'organization/landing.css'%}">
{% endblock %}
{% block scripts %}
{% endblock scripts %}
{% block content %}

    <div class="container profile">
        <img src="https://via.placeholder.com/140" alt="Profile Picture">
        <div class "profile">
            <h1>{{f_name}} {{l_name}}</h1>
            <p>{{org}} - {{position}} {% for i in org_count %}{{i.count}}{% endfor %}</p>
            
            
        </div>
        <div class ='profile-buttons'>
        <a class="btn btn-primary" href={% url 'organization:organizations'%} role="button">Message</a>	&nbsp&nbsp&nbsp&nbsp&nbsp
        <a class="btn btn-primary" href={% url 'organization:survey'%} role="button">Connect</a>&nbsp&nbsp&nbsp&nbsp&nbsp
        <a class="btn btn-primary" href={% url 'organization:survey'%} role="button">Take a survey</a>
        </div>
    </div>
  </div>
  <div class ="grid-container container">
   <div class="grid-item"> <canvas class id="Satis_bar"></canvas></div>
   <div class="grid-item"><canvas class id="Satis_bar2"></canvas> </div>
   <div class="grid-item"><canvas class id="Satis_bar3"></canvas> </div>
  </div> 

      <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
      <script src="https://cdn.jsdelivr.net/npm/chart.js@2.9.3/dist/Chart.min.js"></script>
      <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

      <script>
        var ctx = document.getElementById('Satis_bar').getContext('2d');
        var myChart = new Chart(ctx, {
          type: 'bar',
          data: {
            labels: ['{{f_name}} {{l_name}}', 'Average'],
            datasets: [{
              label: 'Satisfaction',
              data: ['{{satis_user.user__satis}}', '{{satis_exc.avg__satis}}'],
              backgroundColor: ['rgba(255, 99, 132, 0.2)', 'rgba(54, 162, 235, 0.2)'],
              borderColor: ['rgba(255, 99, 132, 1)', 'rgba(54, 162, 235, 1)'],
              borderWidth: 1
            }]
          },
          options: {
            scales: {
              yAxes: [{
                ticks: {
                  beginAtZero: true
                }
              }]
            }
          }
        });
        
      </script>
      <script>
        {% comment %} Can't pull variables () from views  {% endcomment %}
        var ctx = document.getElementById('Satis_bar2').getContext('2d');
        var myChart = new Chart(ctx, {
          type: 'doughnut',
          data: {
            labels: [{% for i in org_count %}'{{i.organization_id}}'{% endfor %}],
            datasets: [{
              label: 'Satisfaction',
              data: [{% for i in org_count %}'{{i.count}}'{% endfor %}],
              backgroundColor: [
              'rgba(255, 99, 132, 0.2)',
               'rgba(54, 162, 235, 0.2)',
               'rgba(255, 206, 86, 0.2)',
                'rgba(75, 192, 192, 0.2)',
                'rgba(153, 102, 255, 0.2)',
                'rgba(255, 159, 64, 0.2)'
               ],
              borderWidth: 1
            }]
          },
          options: {
            scales: {
              yAxes: [{
                ticks: {
                  beginAtZero: true
                }
              }]
            }
          }
        });
     
        
      </script>
      <script>
        var ctx = document.getElementById('Satis_bar3').getContext('2d');
        var myChart = new Chart(ctx, {
          type: 'bar',
          data: {
            labels: ['{{f_name}} {{l_name}}', 'Average'],
            datasets: [{
              label: 'Satisfaction',
              data: ['{{satis_user.user__satis}}', '{{satis_exc.avg__satis}}'],
              backgroundColor: ['rgba(255, 99, 132, 0.2)', 'rgba(54, 162, 235, 0.2)'],
              borderColor: ['rgba(255, 99, 132, 1)', 'rgba(54, 162, 235, 1)'],
              borderWidth: 1
            }]
          },
          options: {
            scales: {
              yAxes: [{
                ticks: {
                  beginAtZero: true
                }
              }]
            }
          }
        });
        
      </script>

{% endblock content %}


