{%extends 'organization/base.html'%}
{% load bootstrap5 %}
{%block content%}
	<div class="container" style="max-width:600px">
		<div class="px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
			<h1 class="display-4">Survey</h1>
		
		</div>
		<div class="py-5">
			<div class="row">
				<div class="col-12">
					<form method="post" action="{% url 'organization:survey' %}" class="form">
						{% csrf_token %}
						{% bootstrap_form form %}
					
						{% buttons %}
						  <button name="submit" class="btn btn-primary">Submit</button>
						{% endbuttons %}
						
						<input type="hidden" name="next" value="{% url 'organization:profile' %}" />
					  </form>
				</div>
			</div>
		</div>
	</div>
{%endblock content%}



